In [1]:
import numpy as np
import pandas as pd
from os import listdir
import os
from tqdm import tqdm
import tweetple
from tweetple import TweetPle
import sys

In [6]:
(2506+3257+22245+8746-40194)/2

-1720.0

In [7]:
2506+1720

4226

In [8]:
8746+1720

10466

In [2]:
ads = pd.read_excel("../../data/03-experiment/ads/0-analytics/2023-03-01-to-2023-05-01-agg.xlsx")

In [3]:
ids = list(ads['id'])

In [7]:
save = '../../data/03-experiment/ads/1-likes/'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAFpgZAEAAAAAbJS59UWzipi32ixd7LHtXov9olo%3D7gxD8Afshgj4munMXHLU08jzRdTpsAh4RZqq7VBofq1wAvkx1T'

TweetPle.TweepleStreamer(ids, bearer_token, path_save = save).likes_lookup()

 29%|██▊       | 8/28 [03:01<07:33, 22.65s/it]/Users/joaquinbarrutia/miniforge3/envs/env_tf/lib/python3.9/site-packages/tweetple/TwitterFullArchive.py:388: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(
 36%|███▌      | 10/28 [03:58<07:32, 25.16s/it]/Users/joaquinbarrutia/miniforge3/envs/env_tf/lib/python3.9/site-packages/tweetple/TwitterFullArchive.py:388: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(
 50%|█████     | 14/28 [05:40<05:42, 24.47s/it]/Users/joaquinbarrutia/miniforge3/envs/env_tf/lib/python3.9/site-packages/tweetple/TwitterFullArchive.py:388: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(
/Users/joaquinbarrutia/miniforge3/envs/env_tf/lib/python3.9/site-packages/tweetple/TwitterFullArchive.py:388: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(
 79%|███████▊  | 22/28 [09:05<02:19, 23.33s/it]/Users/joaquinbarrutia/miniforge3/envs/env_tf/lib/python3.9/site-packages/tweetple/TwitterFullArchive.py:388: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(
/Users/joaquinbarrutia/miniforge3/envs/env_tf/lib/python3.9/site-packages/tweetple/TwitterFullArchive.py:388: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(
100%|██████████| 28/28 [20:40<00:00, 44.32s/it]

In [8]:
save = '../../data/03-experiment/ads/2-retweets/'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAFpgZAEAAAAAbJS59UWzipi32ixd7LHtXov9olo%3D7gxD8Afshgj4munMXHLU08jzRdTpsAh4RZqq7VBofq1wAvkx1T'

TweetPle.TweepleStreamer(ids, bearer_token, path_save = save).retweet_lookup()

100%|██████████| 28/28 [10:33<00:00, 22.61s/it]

In [10]:
save = '../../data/03-experiment/ads/3-replies/'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAFpgZAEAAAAAbJS59UWzipi32ixd7LHtXov9olo%3D7gxD8Afshgj4munMXHLU08jzRdTpsAh4RZqq7VBofq1wAvkx1T'
TweetPle.get_threads(ids, bearer_token, save)

0 1636517707368767489
1 1637604873452789761
2 1636517711843938304
3 1636517711579877376
4 1637604869807783942
5 1640305663250436096
6 1637604868067323904
7 1637604869413502977
8 1640126490057535490
9 1640126482696798208
10 1640126489994620928
11 1640126483539849217
12 1642663207205519361
13 1642663197781139456
14 1643176589520408576
15 1642663198016016384
16 1645334801589624833
17 1645199912764596224
18 1645199918032891905
19 1645199912680960001
20 1647736629875056641
21 1647736634115522560
22 1647736630596497408
23 1647736634010660864
24 1650273346138013696
25 1650273350797631490
26 1650273348125966336
27 1650273348902060033

SMIS

In [2]:
ke = pd.read_parquet('../../data/06-others/ids_KE.parquet')

In [3]:
ke

        username username2             tweet_id
0   MbuthiaAmina      id_1  1619923362402148352
1   MbuthiaAmina      id_2  1619238000382324736
2   MbuthiaAmina      id_3  1618678849579147264
3   MbuthiaAmina      id_4  1617496295198834689
4   MbuthiaAmina      id_5  1615392691843481601
..           ...       ...                  ...
59     DannyGona      id_8  1608651615560691712
60     DannyGona      id_9  1607553965331255296
61     DannyGona     id_10  1606302191710453761
62     DannyGona     id_11  1605080196259803137
63     DannyGona     id_12  1604018763082383361

[64 rows x 3 columns]

In [4]:
ids = list(ke['tweet_id'].astype(str))
ids

['1619923362402148352',
 '1619238000382324736',
 '1618678849579147264',
 '1617496295198834689',
 '1615392691843481601',
 '1612398336182751232',
 '1608892432904785920',
 '1607993453140393985',
 '1605903619789766656',
 '1603807213293912073',
 '1602575704012783616',
 '1601116231456948224',
 '1600164997484597249',
 '1617891239931830278',
 '1617890576933818368',
 '1617566057501261824',
 '1617473046578593792',
 '1616698290833326080',
 '1602961486078525440',
 '1618926979088257024',
 '1617589259480727583',
 '1616514361241243653',
 '1614909212194226177',
 '1613961758921691136',
 '1612551748232552451',
 '1611435062402158602',
 '1609213743472197632',
 '1607689576914771970',
 '1607689576914771970',
 '1606311591342837766',
 '1604920847197667328',
 '1604863608986312704',
 '1602347326105944064',
 '1601213304227397632',
 '1599688336418881536',
 '1618875042884096001',
 '1617769911035768832',
 '1616386836225527809',
 '1614848367082835968',
 '1613873764084621320',
 '1611260614290063360',
 '1610186858553831424',
 '1608695742616731648',
 '1608695742616731648',
 '1607984305955024897',
 '1606205249626177537',
 '1606215601189539843',
 '1604795761497378816',
 '1603703477569556481',
 '1602924881087238145',
 '1600709253882314755',
 '1599727382855680000',
 '1618822613249441793',
 '1617520911477006341',
 '1616181213341028352',
 '1613924217698881537',
 '1612804960025968640',
 '1611165947758264322',
 '1610094074865795072',
 '1608651615560691712',
 '1607553965331255296',
 '1606302191710453761',
 '1605080196259803137',
 '1604018763082383361']

In [5]:
save = '../../data/03-experiment/smis/likes/'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAAA0ZAEAAAAAQyJL09AyaJy6%2BqJSjdSNJF8mG7k%3D6aLu9bxFdeXAFanGaB4GzpuMspiEBhGnCgb7D8C27ZBvUm27JX'

TweetPle.TweepleStreamer(ids, bearer_token, path_save = save).likes_lookup()

100%|██████████████████████████████████████████████████████████████████████████████████| 64/64 [21:07<00:00, 19.81s/it]

In [ ]:
save = '../../data/03-experiment/smis/rts/'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAAA0ZAEAAAAAQyJL09AyaJy6%2BqJSjdSNJF8mG7k%3D6aLu9bxFdeXAFanGaB4GzpuMspiEBhGnCgb7D8C27ZBvUm27JX'

TweetPle.TweepleStreamer(ids, bearer_token, path_save = save).retweet_lookup()

In [6]:
save = '../../data/03-experiment/smis/replies/'
TweetPle.get_threads(ids, bearer_token, save)

0 1619923362402148352
1 1619238000382324736
2 1618678849579147264
3 1617496295198834689
4 1615392691843481601
5 1612398336182751232
6 1608892432904785920
7 1607993453140393985
8 1605903619789766656
9 1603807213293912073
10 1602575704012783616
11 1601116231456948224
12 1600164997484597249
13 1617891239931830278
14 1617890576933818368
15 1617566057501261824
16 1617473046578593792
17 1616698290833326080
18 1602961486078525440
19 1618926979088257024
20 1617589259480727583
21 1616514361241243653
22 1614909212194226177
23 1613961758921691136
24 1612551748232552451
25 1611435062402158602
26 1609213743472197632
27 1607689576914771970
28 1607689576914771970
29 1606311591342837766
30 1604920847197667328
31 1604863608986312704
32 1602347326105944064
33 1601213304227397632
34 1599688336418881536
35 1618875042884096001
36 1617769911035768832
37 1616386836225527809
38 1614848367082835968
39 1613873764084621320
40 1611260614290063360
41 1610186858553831424
42 1608695742616731648
43 1608695742616731648
44 1607984305955024897
45 1606205249626177537
46 1606215601189539843
47 1604795761497378816
48 1603703477569556481
49 1602924881087238145
50 1600709253882314755
51 1599727382855680000
52 1618822613249441793
53 1617520911477006341
54 1616181213341028352
55 1613924217698881537
56 1612804960025968640
57 1611165947758264322
58 1610094074865795072
59 1608651615560691712
60 1607553965331255296
61 1606302191710453761
62 1605080196259803137
63 1604018763082383361