### 1ST BATCH OF CONFIRMED INFLUENCERS

In [7]:
import pandas as pd
import numpy as np
import random

from tweetple import TweetPle

from datetime import date, timedelta
from tqdm import tqdm
tqdm.pandas()
import time
import requests
import glob
import os

country = 'KE'
def get_path(country):
    base = f'../../data/01-characterize/followers/{country}/'
    path_save_c = base + '00-raw/collect/'
    path_save_i = base + '00-raw/integrate/'

    return path_save_c, path_save_i

path_save_c, path_save_i = get_path(country)

# Run R Script get_users_info() to get the ids, import them:
df = pd.read_parquet(f'../../data/01-characterize/influencers/{country}/confirmed_influencers_batch2.parquet')
ids = list(df['id'].astype(str))
len(ids)
# Total Number from Excel File for confirmation: SA 76 KE 76

58

In [8]:
df_final = pd.DataFrame()
for name in ids:
    df = pd.read_parquet(f'{path_save_c}{name}.parquet')
    df_final = pd.concat([df_final, df]).reset_index(drop=True)
    
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728552 entries, 0 to 728551
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   created_at           728552 non-null  object
 1   description          728552 non-null  object
 2   entities             173079 non-null  object
 3   id                   728552 non-null  object
 4   location             426954 non-null  object
 5   name                 728552 non-null  object
 6   pinned_tweet_id      161420 non-null  object
 7   profile_image_url    728552 non-null  object
 8   protected            728552 non-null  bool
 9   public_metrics       728552 non-null  object
 10  url                  109818 non-null  object
 11  username             728552 non-null  object
 12  verified             728552 non-null  bool
 13  author_id_following  728552 non-null  object
 14  date_consulted       728552 non-null  object
 15  response             728552 non-null  int64
 16  withheld             31 non-null      object
dtypes: bool(2), int64(1), object(14)
memory usage: 84.8+ MB

In [9]:
df_final

,created_at,description,entities,id,location,name,pinned_tweet_id,profile_image_url,protected,public_metrics,url,username,verified,author_id_following,date_consulted,response,withheld
0,2023-01-19T17:43:26.000Z,An accountant by professional and a Manchester...,None,1616129113802121217,None,martin mattiüòé,None,https://pbs.twimg.com/profile_images/161628971...,False,"{'followers_count': 101, 'following_count': 16...",None,martin42639543,False,1382201755,2023-02-09,200,NaN
1,2017-05-25T11:58:06.000Z,Patrocinio - m_d_k,None,867711370225176576,None,Marcles_d,None,https://pbs.twimg.com/profile_images/162333751...,False,"{'followers_count': 9, 'following_count': 183,...",None,mwikya_charles,False,1382201755,2023-02-09,200,NaN
2,2023-02-08T02:33:51.000Z,,None,1623147872404271106,None,Wesley Langat,None,https://pbs.twimg.com/profile_images/162314807...,False,"{'followers_count': 0, 'following_count': 114,...",None,Langat385Langat,False,1382201755,2023-02-09,200,NaN
3,2022-10-18T08:42:56.000Z,,None,1582291034578583553,None,Allan wachilonga,None,https://pbs.twimg.com/profile_images/158229125...,False,"{'followers_count': 104, 'following_count': 92...",None,WachilongaAllan,False,1382201755,2023-02-09,200,NaN
4,2013-05-11T15:51:06.000Z,"loving,simple and honest",None,1420966910,Kisumu,Maramba wuod Alego,None,https://pbs.twimg.com/profile_images/161857171...,True,"{'followers_count': 81, 'following_count': 613...",None,MarambaJohn,False,1382201755,2023-02-09,200,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728547,2019-12-07T05:35:25.000Z,you must be coach k cause you ain't P,None,1203186163021942784,None,ùî§ùî©ùî¢ùî´,1617919844724412417,https://pbs.twimg.com/profile_images/164353343...,False,"{'followers_count': 175, 'following_count': 17...",None,cutthroatbilll,False,1298994593988403206,2023-04-12,200,None
728548,2020-03-10T16:04:02.000Z,Always on my flexüé≠üí™\n\nI put semicolons in my ...,None,1237408812245626880,@Kwetu si kama kwenu,üêêüêêO''Bryan,None,https://pbs.twimg.com/profile_images/142223172...,False,"{'followers_count': 249, 'following_count': 42...",None,feeranga_free,False,1298994593988403206,2023-04-12,200,None
728549,2020-01-05T22:12:21.000Z,the wolf in sheep's skin,None,1213946294009393152,None,am_solo,None,https://pbs.twimg.com/profile_images/164138398...,False,"{'followers_count': 481, 'following_count': 35...",None,SoloLevi,False,1298994593988403206,2023-04-12,200,None
728550,2020-06-26T18:11:01.000Z,,None,1276578573650968576,None,@MUGAMBI,None,https://pbs.twimg.com/profile_images/129899743...,False,"{'followers_count': 5, 'following_count': 91, ...",None,EvansMu39861599,False,1298994593988403206,2023-04-12,200,None
728551,2019-04-24T17:37:22.000Z,Creative Designer.,None,1121105867380854784,Kenya,Owino Hilarie.,None,https://pbs.twimg.com/profile_images/154837672...,False,"{'followers_count': 8483, 'following_count': 6...",None,Hilarie_Owino,False,1298994593988403206,2023-04-12,200,None

In [10]:
df_final.to_parquet(f'{path_save_i}followers_batch2.parquet.gzip', 
                    compression='gzip')