In [2]:
import pandas as pd
import os
import glob
import yaml
import time
import numpy as np

## SA Full List

In [7]:
sa = pd.read_parquet('../../data/02-randomize/SA/04-stratification/integrate/followers_randomized_batch2.parquet')

sa

,username,follower_id,blockid1,blockid2,treatment,id
0,milestunhi,1000263301182476289,184.0,189.0,0.0,11111111
1,JaravazaVanessa,1001406436478513152,143.0,100.0,1.0,11111111
2,cshndi,1001833216402251776,207.0,241.0,1.0,11111111
3,givmangwende,1003813557073530880,202.0,232.0,1.0,11111111
4,MakoMidzi,1003945105517109249,184.0,189.0,1.0,11111111
...,...,...,...,...,...,...
28636,Ke_georginah,2270946743,1.0,2.0,1.0,222222222a
28637,briantau1,251925293,1.0,1.0,1.0,222222222a
28638,Zama_B02,2678104934,1.0,2.0,0.0,222222222a
28639,daddyhope,73672445,3.0,5.0,0.0,222222222a
28640,aya_mpanza,743780095,1.0,1.0,0.0,222222222a

In [10]:
sa = sa[sa['treatment']==1]
sa = sa[['follower_id']].rename(columns={'follower_id':'id'})
sa = sa.sample(frac = 1).reset_index(drop = True)
sa

In [10]:
prueba = sa.drop_duplicates()
len(prueba)

14313

In [7]:
sa.to_csv(f'../../data/03-experiment/SA/ads/0-twitter_api/input_batch2.txt', 
          header = None, index = None, sep = ',')

## KE Full List

In [11]:
sa = pd.read_parquet('../../data/02-randomize/KE/04-stratification/integrate/followers_randomized_batch2.parquet')
sa = sa[sa['treatment']==1]
sa = sa[['follower_id']].rename(columns={'follower_id':'id'})
sa = sa.sample(frac = 1).reset_index(drop = True)
sa

                        id
0      1601441950091067393
1      1435912151655501827
2       907176551715889152
3      1448565741754753030
4      1480863928720711680
...                    ...
20085  1246252313959899136
20086  1158531647618375680
20087  1313002186306129920
20088  1205805546877702146
20089  1329713640870653953

[20090 rows x 1 columns]

In [12]:
sa.to_csv(f'../../data/03-experiment/KE/ads/0-twitter_api/input_batch2.txt', 
          header = None, index = None, sep = ',')

## Saturation

In [ ]:
import random
random.seed(123)
sa['rand'] = [random.uniform(0, 1) for k in sa.index]

In [19]:
sa_1 = sa[sa['rand'] < 1/7]
sa_1 = sa_1[['id']]
sa_1.to_csv(f'../../data/03-experiment/KE/ads/0-twitter_api/input_1.txt', header = None, index = None, sep = ',')

In [20]:
sa_2 = sa[(sa['rand'] > 1/7) & (sa['rand'] < 3/7)]
sa_2 = sa_2[['id']]
sa_2.to_csv(f'../../data/03-experiment/KE/ads/0-twitter_api/input_strong_abs_2.txt', header = None, index = None, sep = ',')

In [21]:
sa_3 = sa[(sa['rand'] > 3/7)]
sa_3 = sa_3[['id']]
sa_3.to_csv(f'../../data/03-experiment/KE/ads/0-twitter_api/input_strong_abs_3.txt', header = None, index = None, sep = ',')

In [ ]:
sa = pd.read_parquet('../../data/02-randomize/KE/04-stratification/integrate/followers_randomized_strong_weak.parquet')
sa = sa[sa['treatment']==1]
sa = sa[['follower_id']].rename(columns={'follower_id':'id'})
#sa.to_csv(f'../../data/03-experiment/KE/ads/0-twitter_api/input_strong.txt', header = None, index = None, sep = ',')