In [2]:
import pandas as pd
import numpy as np
import random

from tweetple import TweetPle

from datetime import date, timedelta
from tqdm import tqdm
tqdm.pandas()
import time
import requests
import glob
import os

#### Limpiar datos de AfricaCheck

In [143]:
country = 'KE'
data = pd.read_excel(f'../../data/01-characterize/influencers/{country}/file_AfricaCheck.xlsx')

In [13]:
data['URL'] = (np.where(data['URL'].str.contains('\?'),
                  data['URL'].str.split('\?').str[0],
                  data['URL']))

In [128]:
data['handle'] = (np.where(data['URL'].str.contains('/'),
                  data['URL'].str.split('/').str[-1],
                  np.nan))

In [142]:
data.to_excel(f'../../data/01-characterize/influencers/{country}/file_AfricaCheck.xlsx')

#### descargar info cuentas

In [3]:
users_ke_1=pd.read_parquet('/Users/joaquinbarrutia/Dropbox/social_influencers_africa/data/twitter/1-candidates/possible_users/users_ke_filtered.parquet')

users_ke_2=pd.read_parquet('/Users/joaquinbarrutia/Dropbox/social_influencers_africa/data/twitter/1-candidates/possible_users/users_ke_filtered_additional.parquet')
users_ke = pd.concat([users_ke_1, users_ke_2], axis=0)

In [26]:
users_ke_1=pd.read_excel('/Users/joaquinbarrutia/Dropbox/social_influencers_africa/data/twitter/1-candidates/users/KE/agg/accounts.xlsx')

users_ke_2=pd.read_excel('/Users/joaquinbarrutia/Dropbox/social_influencers_africa/data/twitter/1-candidates/users/KE/agg/accounts_new.xlsx')
users_ke = pd.concat([users_ke_1, users_ke_2], axis=0)

In [28]:
users_ke.rename(columns={'author_id':'id'}, inplace=True)

In [29]:
users_ke.drop_duplicates('id', inplace=True)

In [5]:
users_sa_1=pd.read_parquet('/Users/joaquinbarrutia/Dropbox/social_influencers_africa/data/twitter/1-candidates/possible_users/users_sa_filtered.parquet')

users_sa_2=pd.read_parquet('/Users/joaquinbarrutia/Dropbox/social_influencers_africa/data/twitter/1-candidates/possible_users/users_sa_filtered_additional.parquet')
users_sa = pd.concat([users_sa_1, users_sa_2], axis=0)

In [30]:
inf_ke = pd.read_parquet('/Users/joaquinbarrutia/Dropbox/Bolivia_Project/social-media-influencers-af/data/01-characterize/influencers/KE/confirmed_influencers.parquet')
inf_sa = pd.read_parquet('/Users/joaquinbarrutia/Dropbox/Bolivia_Project/social-media-influencers-af/data/01-characterize/influencers/SA/confirmed_influencers.parquet')

In [13]:
users_sa.drop_duplicates('id', inplace=True)

In [31]:
users_ke['id'] = users_ke['id'].astype(str)
inf_ke['id'] = inf_ke['id'].astype(str)

In [15]:
users_sa['id'] = users_sa['id'].astype(str)
inf_sa['id'] = inf_sa['id'].astype(str)

In [147]:
users_ke = users_ke[['username','id']]

In [148]:
users_ke.rename(columns={'id':'author_id'}, inplace=True)

In [134]:
users_sa = users_sa[['username','id']]

In [136]:
users_sa.rename(columns={'username':'handle', 'id':'author_id'}, inplace=True)

<ipython-input-136-341156e7dabb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users_sa.rename(columns={'username':'handle', 'id':'author_id'}, inplace=True)

In [32]:
data = pd.merge(inf_ke,users_ke,on='id',how='left')

In [20]:
data = pd.merge(inf_sa,users_sa,on='id',how='left')

In [33]:
data

,handle,id,n_tweets.fc,n_tweets.na,n_tweets,location,created_at,description,name,url,...,retweet_count_mean,retweet_count_max,retweet_count_sum,retweet_count_std,interactions_count_sum,impression_count_min,impression_count_mean,impression_count_max,impression_count_sum,impression_count_std
0,WillieOeba,2223128873,0.0,1.0,2971.0,Nairobi.kenya,2013-12-13,Current East Africa Spoken Word Battle King | ...,WORD KING,https://t.co/oPfYSj5zuc,...,32.897678,35168.0,97739.0,811.997808,116952.0,NaN,NaN,NaN,NaN,NaN
1,Son_of_Laikipia,545388182,0.0,8.0,10107.0,"Nairobi, Kenya",2012-04-04,All I do is tweet Gîkûyû jokes and laugh unapo...,Wamutahi,NaN,...,410.147225,708737.0,4145358.0,8055.615167,4641787.0,NaN,NaN,NaN,NaN,NaN
2,georgemaringa_,2449669469,0.0,36.0,660.0,Kenya,2014-03-31,Anchor/Reporter @KTNNewsKE & Digital @Standard...,George Maringa,https://t.co/vLK9LsoPTV,...,81.568182,13487.0,53835.0,663.070114,61047.0,0.0,0.0,0.0,0.0,0.0
3,alexowiti,49589975,0.0,18.0,746.0,NAIROBI-KENYA,2009-06-22,PR EXPERT & PUBLICIST | TECH EVANGELIST | BUSI...,ALEX OWITI,https://t.co/SmgN7dMs2H,...,392.911528,38294.0,293112.0,2588.836234,293762.0,0.0,0.0,0.0,0.0,0.0
4,MuthokaTito,181289232,0.0,36.0,2092.0,"Kibwezi, Kenya",2010-08-21,Cyber Intelligence Threat Analyst | Researcher...,The Muthoka®,https://t.co/5BpR5HzD8F,...,811.704111,106502.0,1698085.0,4334.484721,1698963.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Eddiest_KE,1150549393,0.0,37.0,31349.0,"Kisumu, Kenya",2013-02-05,Community Digital Champion | Digital Media\n#K...,Edd,NaN,...,1651.897796,311533.0,51785344.0,7729.089623,51834173.0,NaN,NaN,NaN,NaN,NaN
72,AKenyanGirl,34362768,1.0,14.0,1025.0,Kenya 🇰🇪 | Where cats are 💕,2009-04-22,"Mbenya's daughter ❤️ |\nAilurophile, Mwenye Ki...",Naomi Mutua 🐾❤️,https://t.co/Oxf5nHb8Le,...,1020.848780,708829.0,1046370.0,22270.969658,1052633.0,NaN,NaN,NaN,NaN,NaN
73,wakajuaness,304462648,0.0,2.0,573.0,"Bungoma, Kenya",2011-05-24,Founder & Chief Editor- @WakajuanessLive | Pl...,Simiyu Wakajuaness 🗨,https://t.co/8aQazXLdEs,...,394.739965,72904.0,226186.0,3684.037795,227204.0,NaN,NaN,NaN,NaN,NaN
74,CescKemei,807236302408220673,0.0,1.0,1832.0,"Nakuru, Kenya",2016-12-09,Journalist.\nkemeiezra67@gmail.com,Kemei Cesc.,NaN,...,1097.794760,708841.0,2011160.0,17107.958118,2014532.0,NaN,NaN,NaN,NaN,NaN
75,BramuelKedi,2314837515,0.0,1.0,5006.0,BUSIA KENYA,2014-01-30,\\ PeaceMaker\\ \\Manchester United\\ Q:-Socia...,SIR BRAMUEL BOKE KEDI,https://t.co/51TMUN6LVI,...,139.069916,92964.0,696184.0,2321.844540,698717.0,NaN,NaN,NaN,NaN,NaN

In [141]:
m1 = data.duplicated(['author_id'], keep=False)

data['dup'] = np.select([m1],['1'], default='0')

### Obtener Followers

In [3]:
country = 'KE'

In [50]:
data = pd.read_excel(f'../../data/01-characterize/influencers/{country}/file_AfricaCheck.xlsx').drop('Unnamed: 0', axis=1)

In [51]:
data.drop_duplicates('handle',inplace=True)

In [52]:
data['author_id'] = data['author_id'].astype(str)

In [7]:
list_ke = list(data.author_id)

In [8]:
len(list_ke)

266

In [175]:
len(list_sa)

215

In [39]:
def get_path(country):
    base = f'../../data/01-characterize/followers/{country}/'
    path_save_c = base + '00-raw/collect/'
    path_save_i = base + '00-raw/integrate/'

    return path_save_c, path_save_i

path_save_c, path_save_i = get_path('KE')

In [77]:
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAFpgZAEAAAAAbJS59UWzipi32ixd7LHtXov9olo%3D7gxD8Afshgj4munMXHLU08jzRdTpsAh4RZqq7VBofq1wAvkx1T'

TweetPle.TweepleStreamer(
        ids[1:], 
        bearer_token, 
        path_save=path_save_c
    ).followers_lookup()

100%|██████████| 13/13 [13:03<00:00, 60.28s/it]

In [69]:
from os import listdir
from os.path import isfile, join
mypath = path_save_c

onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles = [f.replace('.parquet', '') for f in onlyfiles]

In [70]:
ids = list(set(list_ke).difference(onlyfiles))

In [71]:
len(ids)

14

In [76]:
ids

['1360581211526230016',
 '803874788347412480',
 '828800473767481344',
 '1075003604279398016',
 '2748288857',
 '742783907343544320',
 '1219862651548918016',
 '1020272551824699008',
 '341959908',
 '807236302408220672',
 '1126820633244066048',
 '804572413618954240',
 '1123232969043382016',
 '978994553221939200']

In [64]:
data[data['author_id']=='1360581211526230016'] ##1360581211526230018 este es id real

,URL,Followers,Verified,Order,Notes,Answer,Email,handle,author_id,dup
4,https://twitter.com/AnzayaJustus1,18.1k,False,5,Journalist,NaN,NaN,AnzayaJustus1,1360581211526230016,1