In [2]:
import pandas as pd
import numpy as np

for country in ['KE', 'SA']:
    print(country)
    bots_b1 = pd.read_parquet(f'../../../data/04-analysis/{country}/bots_batch1.parquet').rename(columns={'author_id': 
                                                                                    'follower_id'}).assign(dummy_sample=1, 
                                                                                                           batch_id='b1')

    bots_b2 = pd.read_parquet(f'../../../data/04-analysis/{country}/bots_batch2.parquet').rename(columns={'author_id': 
                                                                                    'follower_id'}).assign(dummy_sample=1,
                                                                                                           batch_id='b2')
    bots = pd.concat([bots_b1, bots_b2]).reset_index(drop=True)
    for stage in ['stage1_2', 'stage3_4', 'stage5_6']:
        print(stage)

        b1 = pd.read_parquet(f'../../../data/04-analysis/{country}/{stage}/verifiability_batch1_smi_ac.parquet').assign(batch_id='b1').reset_index(drop = True)
        b2 = pd.read_parquet(f'../../../data/04-analysis/{country}/{stage}/verifiability_batch2_smi_ac.parquet').assign(batch_id='b2').reset_index(drop = True)

        b1b2 = pd.concat([b1, b2]).reset_index(drop=True)
        #try: 
        #    b1b2 = b1b2.drop(['author_id_x', 'author_id_y', 'blockid1', 'blockid2'], axis = 1)
        #except:
        #    b1b2 = b1b2.drop(['blockid1', 'blockid2'], axis = 1)
        b1b2 = b1b2.merge(bots, on = ['follower_id', 'batch_id'], how = 'left')
        b1b2 = b1b2[(b1b2['dummy_95'] == 0) & (~b1b2['dummy_sample'].isnull())]
        b1b2 = b1b2.drop(['dummy_95', 'dummy_sample'], axis = 1).reset_index(drop = True)
        b1b2.to_parquet(f'../../../data/04-analysis/{country}/{stage}/verifiability_b1b2_smi_ac.parquet')

b1b2.info()

KE
stage1_2
stage3_4
stage5_6
SA
stage1_2
stage3_4
stage5_6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69208 entries, 0 to 69207
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   username                  69208 non-null  object
 1   follower_id               69208 non-null  object
 2   ads_treatment             69208 non-null  float64
 3   id                        69208 non-null  object
 4   c_t_strong_total          69208 non-null  int32
 5   c_t_weak_total            69208 non-null  int32
 6   c_t_neither_total         69208 non-null  int32
 7   t_strong                  69208 non-null  float64
 8   t_weak                    69208 non-null  float64
 9   t_neither                 69208 non-null  float64
 10  strat_block1              69208 non-null  object
 11  strat_block2              69208 non-null  object
 12  interaction_smi_base      69208 non-null  float64
 13  interaction_ac_base       69208 non-null  float64
 14  t_verifiability_smi_base  69208 non-null  float64
 15  t_verifiability_ac_base   69208 non-null  float64
 16  t_eng_smi_base            69208 non-null  float64
 17  t_eng_ac_base             69208 non-null  float64
 18  t_non_ver_smi_base        69208 non-null  float64
 19  t_non_ver_ac_base         69208 non-null  float64
 20  t_true_smi_base           69208 non-null  float64
 21  t_true_ac_base            69208 non-null  float64
 22  t_fake_smi_base           69208 non-null  float64
 23  t_fake_ac_base            69208 non-null  float64
 24  interaction_smi           69208 non-null  float64
 25  interaction_ac            69208 non-null  float64
 26  t_verifiability_smi       69208 non-null  float64
 27  t_verifiability_ac        69208 non-null  float64
 28  t_eng_smi                 69208 non-null  float64
 29  t_eng_ac                  69208 non-null  float64
 30  t_non_ver_smi             69208 non-null  float64
 31  t_non_ver_ac              69208 non-null  float64
 32  t_true_smi                69208 non-null  float64
 33  t_true_ac                 69208 non-null  float64
 34  t_fake_smi                69208 non-null  float64
 35  t_fake_ac                 69208 non-null  float64
 36  batch_id                  69208 non-null  object
 37  blockid1                  26142 non-null  float64
 38  blockid2                  26142 non-null  float64
dtypes: float64(30), int32(3), object(6)
memory usage: 19.8+ MB

In [3]:
b1b2

,username,follower_id,ads_treatment,id,c_t_strong_total,c_t_weak_total,c_t_neither_total,t_strong,t_weak,t_neither,...,t_eng_ac,t_non_ver_smi,t_non_ver_ac,t_true_smi,t_true_ac,t_fake_smi,t_fake_ac,batch_id,blockid1,blockid2
0,SibuM15,1000382380618801154,1.0,11111111,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b1,NaN,NaN
1,aaron_lebea,1000462799351570432,0.0,11111111,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b1,NaN,NaN
2,MusheerHasan1,1000469765381472256,1.0,11111111,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b1,NaN,NaN
3,KO_Tsomele,1001016845976133632,0.0,11111111,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b1,NaN,NaN
4,MagalaleSebati,1001138483216437248,0.0,11111111,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69203,Ke_georginah,2270946743,1.0,222222222a,1,1,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b2,1.0,2.0
69204,briantau1,251925293,1.0,222222222a,1,1,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b2,1.0,1.0
69205,Zama_B02,2678104934,0.0,222222222a,1,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b2,1.0,2.0
69206,daddyhope,73672445,0.0,222222222a,1,1,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b2,3.0,5.0
69207,aya_mpanza,743780095,0.0,222222222a,1,1,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b2,1.0,1.0