In [1]:
import pandas as pd
import os
from os import listdir
from tqdm import tqdm
import requests
import re
import json
import numpy as np
import uuid
from datetime import timedelta
from datetime import date
import datetime
import ast
from time import sleep
from random import randint
tqdm.pandas()

In [2]:
survey_0_ke = pd.read_csv("../../../social-media-influencers-africa/data/04-analysis/KE/1-survey/survey.csv")
survey_0_sa = pd.read_csv("../../../social-media-influencers-africa/data/04-analysis/SA/1-survey/survey.csv")
survey_1_ke = pd.read_csv("../../data/04-analysis/KE/1-survey/survey.csv")
survey_1_sa = pd.read_csv("../../data/04-analysis/SA/1-survey/survey.csv")

In [3]:
survey_0_ke['country']="KE"
survey_0_sa['country']="SA"
survey_1_ke['country']="KE"
survey_1_sa['country']="SA"

In [4]:
survey = pd.concat([survey_0_ke, survey_0_sa, survey_1_ke, survey_1_sa]).reset_index(drop=True)

In [5]:
survey['username'] = (np.where(survey['RecipientEmail'].str.contains('@'),
                  survey['RecipientEmail'].str.split('@').str[0],
                  np.nan))

In [13]:
survey[survey['username']=='mainandegwa232']

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,COVID_Q7,Pol_q1,Pol_q2,Pol_q3,dem_Q4,mobile_number_1,covid_cert,batch,country,username
946,31/07/23 4:25,31/07/23 11:25,0,154.153.160.244,100,25190,1,31/07/23 11:25,R_3KHDwKJV2ANdwDK,NaN,...,4.0,1.0,6.0,2.0,1.0,719618489.0,NaN,1,KE,mainandegwa232

In [49]:
survey = survey[survey['Finished']==1]

In [51]:
batches = survey[['username', 'batch']].drop_duplicates('username').reset_index(drop=True)

In [33]:
survey = survey[['username', 'country']].drop_duplicates('username').reset_index(drop=True)

In [34]:
covid = pd.read_excel('../../data/06-other/covid_certificates_merged.xlsx')

In [35]:
covid = covid[covid['covid_certificate']==1][['username', 'country']]

In [37]:
lottery = pd.concat([survey, covid]).reset_index(drop=True)

In [41]:
import random

random.seed(57)  # Establecer la semilla para reproducibilidad


random_numbers = [random.random() for _ in range(len(lottery))]
lottery['random_number'] = random_numbers

In [53]:
lottery_2 = pd.merge(lottery,batches,on='username',how='left')

In [55]:
lottery_2

            username country  random_number  batch
0          ZakaKamau      KE       0.042566    0.0
1          jaykashed      KE       0.589686    0.0
2      CycloneKenya1      KE       0.019311    0.0
3           Qinuthia      KE       0.514126    0.0
4          mwadzitso      KE       0.976646    0.0
...              ...     ...            ...    ...
1292   AhmedKhalif47      KE       0.992124    2.0
1293         NdiZizi      SA       0.970923    2.0
1294     MarcusTanui      KE       0.304339    2.0
1295    MwangiKamauG      KE       0.544801    1.0
1296  ClintonMMwangi      KE       0.498762    2.0

[1297 rows x 4 columns]

In [56]:
lottery_2.to_excel('../../data/06-other/survey_lottery.xlsx')